<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/list.css">
</head>
<body>


<section>
    <div class="container">
        <div th:each="product:${session.productList}" class="product">
            <img th:src="${product.img}"
                 src="https://img13.360buyimg.com/jdcms/s150x150_jfs/t1/112265/5/36924/96326/6436524dF1a03b807/54b6d23ad82f46c7.jpg.avif"
                 alt="商品1">
            <div th:text="${product.name}" class="name">商品1名称</div>
            <div th:text="'￥'+${product.price}" class="price">$10.00</div>
        </div>
    </div>
</section>

</body>
</html>