<?xml version="1.0" encoding="utf-8"?>

<beans>
    <!-- 这个bean标签的作用是 将来servletpath中涉及的名字对应的是fruit，那么就要FruitController这个类来处理 -->
    <bean id="product" class="cn.network.product.controller.ProductController"/>
</beans>




        <!--

        通过反射可以获取到一个方法的形参名称

        第一步：通过设置 File->Settings->Build,Execution,Deployment->Compiler->Java Compiler中设置 Addition command paraters：为 -parameters 。

        第二步：Build->Rebuild Project重新build一下project就好了。

        -->
