body {
    display: flex;
    justify-content: center;
    background-color: rgb(244, 244, 244);
}

.container {
    width: 1190px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.search {

}

.product {
    width: 230px;
    height: 322px;
    background-color: white;
    box-sizing: border-box;
    text-align: center; /* 居中商品内容 */
    padding: 10px;
    margin-right: auto;
}

.product img {
    width: 150px;
    height: 150px;
    margin-top: 30px; /* 调整与上方的间距 */
    margin-bottom: 40px;
}

.product .name {
    font-weight: bold;
    margin-bottom: 5px;
}

.product .price {
    color: red;
    font-size: 18px;
}