body {
    font: 14px Arial, sans-serif;
    margin: 0px;
}

header {
    padding: 10px 20px;
    background: white;
}

header h1 {
    font-size: 24px;
    text-align: center;
}

section {
    width: 60%;
    background-color: white;
    margin-left: 20%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#tbl_product_list {
    width: 100%;
    line-height: 40px;
}

#tbl_product_list,
#tbl_product_list tr,
#tbl_product_list th,
#tbl_product_list td {
    border: 2px solid gray;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
    font-family: "宋体";
}

.tblImg {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.productImg {
    width: 120px;
    height: 120px;
    vertical-align: middle;
}

.btn{
    width: 80px;
    height: 24px;
}